@import "tailwindcss";

/* =====================
   Font Faces
   ===================== */
@font-face {
  font-family: "TWKLausanne";
  src: url("/fonts/TWKLausanne-350.woff") format("woff");
  font-weight: 350;
  font-style: normal;
  font-display: swap;
}

@theme {
  /* Font Families */
  --font-sans: "DM Sans", sans-serif;
  --font-serif: "TWKLausanne", serif;

  /* Primary colors */ /* Green */
  --color-primary-100: #24a266;
  --color-primary-200: #53c38d;
  --color-primary-300: #dff4ea;
  --color-primary-400: #f4fdf7;
  --color-primary-500: #9cddbe;
  --color-primary-600: #f2fcf7;
  --color-primary-700: #125133;
  --color-primary-800: #022f1a;

  /* Secondary colors */ /* Black */
  --color-secondary-100: #000000;
  --color-secondary-200: #545454;
  --color-secondary-300: #919191;
  --color-secondary-400: #828282;

  /* Tertiary Colors */
  --color-tertiary-100: #fafafa;
  --color-tertiary-200: #ffffff80;
}

/* =====================
   Utility Font Classes
   ===================== */
.font-dm-sans {
  font-family: "DM Sans", sans-serif;
}

.font-twk {
  font-family: "TWKLausanne", sans-serif;
}

  .hide-scroll::-webkit-scrollbar {
    display: none;
    scrollbar-width: 1px;
    scroll-behavior: smooth;
    scrollbar-color: black;
  }
